<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Filename:</b>
  <%= @note.filename %>
</p>

<p>
  <b>Course:</b>
  <%= @note.course_id %>
</p>

<p>
  <b>User:</b>
  <%= @note.user_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @note.rating %>
</p>

<p>
  <b>Type:</b>
  <%= @note.type %>
</p>

<p>
  <b>Data:</b>
  <%= @note.data %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
