<%= simple_form_for(@collab, :html => {:class => 'form-inline'}) do |f| %>
  <% if @collab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collab.errors.count, "error") %> prohibited this collab from being saved:</h2>

      <ul>
      <% @collab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title %><br />
    <%= f.hidden_field :course_id %>
    <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
