<p id="notice"><%= notice %></p>
<%= javascript_include_tag 'jquery-1.8.2' %>
<div class="hero-unit"><h1><%= @course.school.name %></h1></div>
<h2><%= @course.name %></h2>
<h3>Notes:</h3>
<%= link_to 'Add Note',                                 
            new_note_path(:course_id=> @course.id),
            :class => 'btn btn-primary' %> 
<%= link_to 'Add Collaborative Note',                                 
            new_collab_path(:course_id=> @course.id),                             
            :class => 'btn btn-primary' %> 
<% if @notes.empty? %>
  <p>No notes yet for this course!</p>
<% else %>
  <% for note in @notes %>
    <p>
    <a href="<%= note.filename %>"><%= note.title %></a>
    <%= link_to 'upvote', '../notes/upvote/' + note.id.to_s,
      :remote => true, :id => "upvote-" + note.id.to_s %>
    <span id=<%= "rating-span-" + note.id.to_s %>>
      <%= note.rating ? note.rating : 0 %>
    </span>
    <ul>
      <% for comment in note.comments %>
        <li>
        <%= Comment.find(comment).text %>
        <br> - By <%= Comment.find(comment).user_id || 'anon' %>
        </li>
      <% end %>
    </ul>
      <%= link_to 'Add Comment',
            new_comment_path(:note_id => note.id),
            :class => 'btn btn-primary' %>
    <%= javascript_tag do %>
      $('#upvote-' + <%= note.id.to_s %>).click(function() {
        $('#rating-span-' + <%= note.id.to_s %>).text(
          parseInt($('#rating-span-' + <%= note.id.to_s %>).text()) + 1);
      });
    <% end %>
    </script>
    </p>
  <% end %>
<% end %>

<% if @collabs.empty? %>
  <p> No collaborative notes yet for this course! </p>
<% else %>
  <% for collab in @collabs %>
    <%= link_to collab.title, collab %>
  <% end %>
<% end %>
